:root {
  --primary-font: Roboto, sans-serif;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --navy-blue-modal: #2e2f42;
}

/* Main styles */
body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.p-footer {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 72px;
  max-width: 264px;
}
footer .span-logo {
  color: var(--cloud);
}

.f-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.foot-container {
  display: flex;
  align-items: baseline;
}

.logo-p-container {
  margin-right: 120px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
  position: relative;
}

.f-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-soc-link:hover,
.f-soc-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

.p-social {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-container {
  margin-right: 80px;
}

.subs-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.subs-p {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subs-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.subs-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background-color: var(--iris);
  border: none;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--ocean);
}

.subs-icon {
  fill: var(--white);
}

/**
  |============================
  | HEADER
  |============================
*/

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.h-logo {
  margin-right: 76px;
}

.header .span-logo {
  color: var(--navy-blue);
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-container {
  display: flex;
  align-items: center;
  height: 72px;
}

.header .navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.navigation .nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.navigation .nav-link {
  color: var(--navy-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover,
.navigation .link:focus,
.nav-link.current {
  color: var(--ocean);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

address {
  font-style: normal;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.adress-info {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-info:hover,
.adress-info:focus {
  color: var(--ocean);
}

/**
  |============================
  | TITLE SECTION
  |============================
*/
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-section/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  border: none;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin: 0 auto;
}

.main-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn {
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/**
  |============================
  | MODAL
  |============================
*/
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding: 72px 24px 24px 24px;
}

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--ocean);
  border: none;
}

.btn-modal:hover .close-button-icon,
.btn-modal:focus .close-button-icon {
  fill: var(--white);
}

/**
  |============================
  | MODAL FORM CSS
  |============================
*/

.form-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.element-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-cont {
  margin-bottom: 16px;
}

.textarea-modal {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  resize: none;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: absolute;
  top: 8px;
  left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-modal .input-modal:focus {
  border-color: var(--iris);
}

.element-modal .input-modal:focus + .icon {
  fill: var(--iris);
}

.element-modal .textarea-modal:focus {
  border-color: var(--iris);
}

.element-modal .textarea-modal:focus::placeholder {
  color: var(--iris);
}

/* CHECKBOX */

.checkbox-container {
  margin-bottom: 24px;
}

.check-input {
  margin-right: 8px;
}

.check-label {
  color: var(--light-slate);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--iris);
  text-decoration-line: underline;
}

.modal-submit-btn {
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  display: block;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--ocean);
}

.modal-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.check-input:checked + .check-label > .modal-span {
  fill: var(--cloud);
  background-color: var(--ocean);
  border: none;
}

/**
  |============================
  | QUALITIES SECTION
  |============================
*/

.qualities-section {
  padding: 120px 0;
}

.qualities-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.qualities-list-item {
  width: calc((100% - 72px) / 4);
}

.qual-icon-container {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.qualities-titles {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 8px;
}

.qualities-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/**
  |============================
  | SERVICES SECTION
  |============================
*/

.services-section {
  padding-bottom: 120px;
}

.serv-container {
  margin: 0 auto;
  align-content: center;
}

.services-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--navy-blue);
  line-height: 1.11;
  margin-bottom: 72px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-list-item {
  width: calc((100%-2 * 24px) / 3);
}

/**
  |============================
  | TEAM-SECTION
  |============================
*/

.team-section {
  background-color: var(--cloud);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--navy-blue);
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white);
  width: calc((100%-3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.t-list-container {
  padding: 32px 0px;
}

.team-list-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 38px;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.t-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.t-soc-link:hover,
.t-soc-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

/**
  |============================
  | CUSTOMERS SECTION
  |============================
  */

.customers-section {
  padding: 120px 0;
}

.custom-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--navy-blue);
  line-height: 1.11;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.custom-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.custom-link {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  fill: currentColor;
}

.custom-link:hover,
.custom-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/**
  |============================
  | PORTFOLIO FILE
  |============================
*/

.buttons {
  padding: 96px 0 120px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.port-buttons {
  cursor: pointer;
  background-color: var(--cloud);
  color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-buttons:hover,
.port-buttons:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* PICTURE LINKS */

.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.picture-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow;
}

.picture-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-links:hover,
.picture-links:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.pictures-titles {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 8px;
}

.pictures-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.p-list-container {
  border: 1px solid var(--cornflower);
  padding: 32px 16px;
  border-top: none;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.p-overlay {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  position: absolute;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-links:hover .p-overlay,
.picture-links:focus .p-overlay {
  transform: translateY(0%);
}
